<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="utf-8">
  <title>{{meta_title}}</title>
  {{ghost_head}}
  <link rel="stylesheet" href="{{asset "built/screen.css"}}">
</head>
<body class="{{body_class}}">
  <a class="nectar-skip-link" href="#main">Skip to content</a>
  <main id="main">
    {{{body}}}
  </main>
  {{ghost_foot}}
</body>
</html>
