<article class="gh-card {{post_class}}{{#unless @custom.show_images_in_feed}} no-image{{/unless}}">
    <a class="gh-card-link" href="{{url}}">
        {{#if feature_image}}
            {{> "card-image"}}
        {{/if}}
        <div class="gh-card-wrapper">
            {{#if primary_tag}}
                <p class="gh-card-tag">{{primary_tag.name}}</p>
            {{/if}}
            <h2 class="gh-card-title is-title">{{title}}</h2>
            {{#if custom_excerpt}}
                <p class="gh-card-excerpt is-body">{{custom_excerpt}}</p>
            {{/if}}
            {{#unless custom_excerpt}}
                {{#if excerpt}}
                    <p class="gh-card-excerpt is-body">{{excerpt}}</p>
                {{/if}}
            {{/unless}}
            <footer class="gh-card-meta">
                {{#unless access}}
                    {{^has visibility="public"}}
                        {{> "icons/lock"}}
                    {{/has}}
                {{/unless}}<!--
             -->{{#if @custom.show_author}}
                    <span class="gh-card-author">{{{t "By {authors}" authors=(authors autolink="false" separator=", ") }}}</span>
                {{/if}}
                {{#if @custom.show_publish_date}}
                    <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
                {{/if}}<!--
         --></footer>
        </div>
    </a>
</article>
